.account-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.account-container:hover {
  border: 1px solid blue;
}

.account-name {
  color: black;
  float: left;
  font-size: 30px;
}

.account-current-balance {
  color: #666;
  float: right;
  font-size: 30px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red */
}

.account-link {
  text-decoration: none;
  color: inherit;
  display: block; /* keeps the whole container clickable */
}

.account-link:hover {
  text-decoration: none;
}

.net-worth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px;
}

.net-worth-content {
  font-size: 30px;
}

.place-holder {
  border-color: black;
  color: black;
}

.normal-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
