.transaction-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
}

.transaction-container:hover {
  border: 1px solid blue;
}

.transaction-content {
  color: black;
  font-size: 20px;
  padding: 10px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;

  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red */
}

.transaction-link {
  text-decoration: none;
  color: inherit;
  display: block; /* keeps the whole container clickable */
}

.transaction-link:hover {
  text-decoration: none;
}
